* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: none;
}

a {
  color: $white;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  // overflow: hidden;
  // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

  background: $bg-all;
  // border: 1px solid black;
}
