$gold: #e3b873;
$white: #ffffff;
$grey: rgba(255, 255, 255, 0.3);
$bg-all: #c4c4c4;
$bg-main: #131313;
$bg-footer: #181818;
$txt-grey-dark: #363636;
$txt-grey-input-line: rgba(54, 54, 54, 0.3);
$txt-grey-light: rgba(54, 54, 54, 0.5);
$txt-grey-middle: #959595;

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
$bg-c: red;
$bg-l: #cccccc;
$bg-d: #333333;
$bg-cm: orange;
$bg-lm: lightblue;
$bg-dm: blue;
