$gold: #e3b873;
$white: #ffffff;
$bg-main: #131313;
$bg-footer: #181818;

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
$bg-c: red;
$bg-l: #cccccc;
$bg-d: #333333;
$bg-cm: orange;
$bg-lm: lightblue;
$bg-dm: blue;
