$gold: #e3b873;
$white: #ffffff;
$grey: rgba(255, 255, 255, 0.3);
$bg-all: #c4c4c4;
$bg-main: #131313;
$bg-footer: #181818;
$txt-grey-dark: #363636;
$txt-grey-input-line: rgba(54, 54, 54, 0.3);
$txt-grey-light: rgba(54, 54, 54, 0.5);
$txt-grey-middle: #959595;

// breakpoints
$desktop: 1440px;
$laptop: 1280px;
$tablet-max: 960px;
$tablet: 720px;
$mobile: 375px;
