.completed-projects {
  width: 100%;
  // ????? - maybe in percent or max-height
  height: 1074px;
  // !! delete

  background: $bg-d;
  // border: 1px solid black;

  @media (max-width: 568px) {
    background: $bg-dm;
  }
}
