.header {
  width: 100%;

// ????? - maybe in percent or max-height
  height: 83px;

// !! delete

  background: $bg-d;
  border: 1px solid black;

  @media (max-width: 568px) {
    background: $bg-dm;
  }
}

// !! delete
.header__nav,
.header__phone {
  display: none;
}
