.header {
  width: 100%;
  height: 83px;
  padding: 0 7% 0 6%;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: "FuturaDemiC", sans-serif;
  color: $white;
  text-transform: uppercase;

  background: $bg-main;

@include flex-bc(row);

  &__name {
    font-size: inherit;
    line-height: inherit;
    color: $gold;
  }

  &__nav {
    width: 46%;

    font-family: "FuturaBookC", sans-serif;
  }

  &__nav-items {
    @include flex-bc(row);
  }

  &__nav-item {
    display: inline-block;
  }

  &__nav-link {
    &_active {
      color: $gold;
    }
  }

  &__phone {
    width: 27%;

@include flex-bc(row);
  }

  &__call-us {
    color: $gold;
    text-decoration: underline;
  }

  &__req-call {
    width: 161px;
    height: 37px;

    color: $white;
    text-transform: uppercase;

    background: $gold;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  }

  @media screen and (max-width: $mobile) {
    height: 57px;

    font-size: 12px;
    line-height: 14px;

    &__nav,
    &__req-call {
      display: none;
    }

    &__phone {
      width: auto;
    }
    &__call-us {
      color: $white;
      text-decoration: none;
    }
  }
}
