.main-offer {
  display: flex;
  width: 100%;
  // ????? - maybe in percent or max-height
  height: 707px;

  &__aside {
    width: 6%;

    background: $bg-main;
  }
  // &__aside-action {}
  // &__aside-text {}
  // &__aside-line {}
  &__background {
    width: 94%;

    background-image: url("../../assets/images/main-offer-d.png");
    background-repeat: none;
    background-size: cover;
  }
  // &__description {}
  // &__text {}
  // &__title {}
  // &__advantages {}
  // &__actions {}
  // &__button {
  //   &_highlight {}
  // }
  // &__scroll-down {}
}
