.metering {
  width: 100%;

// ????? - maybe in percent or max-height
  height: 970px;

// !! delete

  background: $bg-l;
  border: 1px solid black;

  @media (max-width: 568px) {
    display: none;
  }
}
